.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $light-gray;
  margin: 0.5rem;
  border-radius: 1rem;
  padding: 1rem 2rem;
  box-shadow: 0.2rem 0rem 0.5rem $light-gray;
}
