$light-red: #ef4b4b;
$dark-red: #f90716;
$dark-green: #34be82;
$light-green: #57cc99;
$light-gray: #ccc;
$dark-blue: #1a5cf0;
$light-blue: #437be2;
$white: #f1f1f1;

$title-size: 5rem;
$text-size: 1.8rem;
